body {
    margin: 0;
    padding: 0;
}

.paper-header-div
{
    text-align: center;
    margin-bottom: 15px;
    line-height: 20px;
}

.paper-header
{
    font-size: 30px;
    text-decoration: underline;
}

.news-div
{  
    border: 1px solid #576F72;
    margin: 2px;
    background-color: #FEFBF6;
    font-size: 13px;
    line-height: 27px;
    width: 321px;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 30px;
    transition: all .9s;
}

.news-title
{
    background-color: #faf6f3;
    text-transform: uppercase;
    padding: 12px 0 12px 0;
    width: 100%;
}

.news-description
{
    font-size: 16px;
    font-style: italic;
}

.news-source
{
    font-size: 12px;
}

.paper-footer
{
    text-align: center;
}


@media only screen and (max-width: 800px) {
    [class*="news-div"] {
        width: 100%;
    }
}
